*{
	margin:0;
}

body{
	background: url(https://r4.wallpaperflare.com/wallpaper/175/524/956/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-d8562dc820d0acd8506c415eb8e2a49a.jpg);
}


.f1{
	font-family: sans-serif;
	text-align: center;
	font-size: 	35px;
	color: beige;
}

.pizza{
	text-align: center;
	font-family: !important;
	color: beige;
}

.shawarma{
	text-align: center;
	font-family: !important;
	color: beige;
}

.fish{
	text-align: center;
	font-family: !important;
	color: beige;

}

img {
	height: 900px;
}



